<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type=text/css href="/static/css/semantic.css"></link>

  <script type=text/javascript src="/static/javascript/semantic.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>


  <script>
  //接收父視窗傳值
  $(document).ready(function() {
    var Img = document.getElementById("image");
    var url = window.dialogArguments;
    Img.src = url;
  });
  //返回父視窗，並回傳值

  function retParantWin() {
    window.returnValue = document.getElementById("txtChild").value;
    window.close();
  }
  </script>
</head>


<body>
  <form>
    <div id="divFromParent"></div>
  </form>

  <img src="" id="image">

</body>
