<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/css/jquery.jsonview.css"/>
  <script type=text/javascript src="/static/javascript/semantic.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/static/javascript/jquery.jsonview.js"></script>
  <script>
  $(document).ready(function() {
    var str = window.dialogArguments;
    $("#data").JSONView(str);
  });
  </script>
</head>

<body>
  <form>
    <div id="divFromParent"></div>
  </form>
  <div id="data"></div>
</body>

</html>
