<!doctype html>
<html>

<head>

    <title>Monitor Test</title>

    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.css" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC0MXBPQYPcc3IAhEJJdCDE6bGPhFobPHo&sensor=false"></script>

    <script type="text/javascript" src="/static/javascript/home.js"></script>
    <script type="text/javascript" src="/static/javascript/semantic.js"></script>


</head>

<body>
    <div class="ui vertical inverted fixed labeled icon menu" id="sidebar">
        <a class="item" id="testicon" title="User"><i class="blue user icon"></i></a>

        <!-- listPOS and listFac in map view -->
        <a class="item" id="listPOS" title="POS List">
            <i class="red map marker icon"></i>
        </a>
        <a class="item" id="listFac" title="Facility List">
            <i class="green building icon"></i>
        </a>

        <!-- addOptions and removeOptions in table view -->
        <a class="item" id="posOptions" title="View POS Table">
            <i class="red table icon"></i>
        </a>
        <a class="item" id="facOptions" title="View Facility Table">
            <i class="green table icon"></i>
        </a>

        <a class="item" id="switchMode" title="Switch View">
            <i class="teal file icon"></i>
        </a>

        <!--	SETTING AND LOGOUT BUTTONS
		<a class="item" href="johnson.jpg" title="Settings"><i class="settings icon"></i></a>-->
        <a class="item" id="logoutView" title="Logout"><i class="blue sign out icon"></i></a>

    </div>


    <div id="mainCanvas">
        <!-- MAP VIEW CANVAS -->
        <div id="map-canvas"></div>

        <!-- TABLE VIEW CANVAS -->
        <div id="tablecanvas">
            <div id="posTableContainer">
                <table id="posTable" class="ui compact table segment">
                    <thead>
                        <tr>
                            <th id="posId">ID</th>
                            <th id="district">District/Area</th>
                            <th id="num">Number of Facilities</th>
                            <th id="publishedText">Text</th>
                            <th id="publishedImage">Image</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!-- POS EDIT TABLE -->
        <div id="posEdit"><iframe src="../posview"></iframe></div>
        <div id="facEdit"><iframe src="../facilityview"></iframe></div>
    </div>



    <div id="menus">
        <!-- MAP VIEW MENUS -->
        <div class="ui inverted sidebar" id="posMenu">
            <h1>Points of Service</h1>
        </div>
        <div class="ui inverted sidebar" id="facMenu">
            <h1>Facilities</h1>
            <p>Please choose a POS to view facilities in that area</p>
        </div>
    </div>


    {% block alf %} {% endblock %}


</body>

</html>
